DATABASE_URL=
JWT_SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
APP_ENV=
FRONTEND_ORIGIN=
EXPIRY_HOUR=
EXPIRY_MINUTE=

ENV=
FRONTEND_URL=
EMAIL_PROVIDER=
RESEND_API_KEY=
EMAIL_FROM=
EMAIL_OVERRIDE_TO=